WebCode/webcode12/PaymentUser/App_WebReferences/localhost/PaymentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.uccs.sebesta/services/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.uccs.sebesta/services/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.uccs.sebesta/services/">
      <s:element name="CalculatePayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="loanAmt" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="intRate" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="months" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculatePaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CalculatePaymentResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CalculatePaymentSoapIn">
    <wsdl:part name="parameters" element="tns:CalculatePayment" />
  </wsdl:message>
  <wsdl:message name="CalculatePaymentSoapOut">
    <wsdl:part name="parameters" element="tns:CalculatePaymentResponse" />
  </wsdl:message>
  <wsdl:portType name="PaymentServiceSoap">
    <wsdl:operation name="CalculatePayment">
      <wsdl:input message="tns:CalculatePaymentSoapIn" />
      <wsdl:output message="tns:CalculatePaymentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PaymentServiceSoap" type="tns:PaymentServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalculatePayment">
      <soap:operation soapAction="http://www.uccs.sebesta/services/CalculatePayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PaymentServiceSoap12" type="tns:PaymentServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalculatePayment">
      <soap12:operation soapAction="http://www.uccs.sebesta/services/CalculatePayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PaymentService">
    <wsdl:port name="PaymentServiceSoap" binding="tns:PaymentServiceSoap">
      <soap:address location="http://localhost:50339/PaymentService/PaymentService.asmx" />
    </wsdl:port>
    <wsdl:port name="PaymentServiceSoap12" binding="tns:PaymentServiceSoap12">
      <soap12:address location="http://localhost:50339/PaymentService/PaymentService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>